.container {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: whitesmoke;
  padding: 1.5em;
  border-radius: 12px;
}

.table_container {
  background-color: whitesmoke;
}

.btn {
  width: 25%;
  float: right;
}
/* .input_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */
