.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: whitesmoke;
  padding: 1em;
  margin-top: 1em;
  margin-right: 5em;
}
label,
input {
  display: block;
}
