.container {
  height: 100%;
  width: 17%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
  z-index: 1; /* Stay on top of everything */
  top: 0;
  left: 0;
  background-color: darkolivegreen;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.container div {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  display: block;
  cursor: pointer;
}

.container div:hover {
  background-color: forestgreen;
}

.link {
  color: white;
  text-decoration: none;
}

.logout {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
}
